server:
  port: 8085
  address: 0.0.0.0

spring:
  application:
    name: xpense-tracker

  datasource:
    url: jdbc:postgresql://localhost:5432/xpense_tracker
    username: xpense_admin
    password: xpenseTracker1234
    driver-class-name: org.postgresql.Driver

#  datasource:
#    url: jdbc:postgresql://dpg-cv7dm0tumphs738h3tmg-a.singapore-postgres.render.com/xpense_tracker_gwtd
#    username: xpense_admin
#    password:
#    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 20MB

token:
  signing:
    key: 413F4428472B4B6250655368566D5970337336763979244226452948404D6351

file:
  upload:
    path: /Users/emil/Documents/projects/xpense-tracker/uploads
    attachment:
      path: ./uploads/attachment


logging:
  level:
    root: INFO
    com.xperia.xpense_tracker: DEBUG
    org.springframework.web: ERROR

management:
  endpoints:
    web:
      exposure:
        include: ['prometheus']
#        include: '*' #it allows all endpoints.
  endpoint:
    health:
      show-details: always


