scrape_configs:
  - job_name: 'XpenseTrackerMetrics'
    metrics_path: '/actuator/prometheus'
    scrape_interval: 3s
    static_configs:
      - targets: ['host.docker.internal:8085']
        labels:
          application: 'Xpense-Tracker'